@charset "UTF-8";

#top {width: 100%; height: 100vh; position: relative;}
#slider {width: 100%; height: 100vh; overflow: hidden;}
.slide {width: 300vw; height: 100vh; }
.slide li {float:left; width: 100vw; height: 100%; }
.slide li:first-of-type {background: url('../img/main/slider.jpg') center/cover;}
.slide li:nth-of-type(2) {background: url('../img/main/slider.jpg') center/cover;}
.slide li:nth-of-type(3) {background: url('../img/main/slider.jpg') center/cover;}

.slide_content {width: 560px; height: 350px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 5;}
.slide_content h2 {font-size:110px; font-family: 'Open Sans', sans-serif; color: #fff; text-align: center;}
.slide_content h3 {font-size:100px; font-family: 'Leckerli One', cursive; font-weight: normal; color: #fff; text-align: center; margin-top: -40px;}

.cover {width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: var(--main_color_purple); opacity:0.5;}

#slider>span {position: absolute; top:50%; transform: translateY(-50%); display: block; width: 28px; height: 34px; padding:0 5px; font-size: 20px; color:#fff; border: 2px solid #fff; border-radius: 10px; cursor: pointer; }
#slider>span:hover {border:2px solid var(--main_color_orange); color:var(--main_color_orange); }
.prev {left:50px;}
.next {right:50px;}

.search_tab {width: 1140px; height: 95px; position: absolute; bottom:0; left:50%; bottom:0; transform: translateX(-50%); background-color: #fff; border-radius: 90px 90px 0 0; display: flex; overflow: hidden; }
.search_li {display: flex; justify-content: center; align-items: center; flex: 1; font-size: var(--font_basic); font-weight: 600;}
.search_li i {margin-right: 10px; color: var(--main_color_orange); font-size: 20px;}
.active { background-color: var(--main_color_orange); color: #fff;}
.active i {color: #fff;}

#search {width: 100%; height: 190px; background: linear-gradient(to right, var(--main_color_orange), var(--gradient_color));}
#search .container {display: flex; justify-content: space-between; align-items: center; }
.search_item:first-child {width: 30%;}
.search_item:nth-child(2), .search_item:nth-child(3) {width: 14%;}
.search_item:nth-child(4), .search_item:nth-child(5) {width: 10%;}
.search_item p {font-size: var(--font_basic); font-weight: 600; color: #fff;}
#search input, select {width: 100%; height: 46px; padding: 0 10px; border: none; font-size: var(--font_basic);}
#search input:focus, select:focus {outline: none;}

#intro {width: 100%; height: 820px;}
#intro .container {display: flex; flex-flow: row wrap; justify-content: space-between; align-content: space-between; padding: 100px 0;}
#intro h2 {width: 100%; text-align: center; font-size: var(--font_logo); color: var(--font_color_black);}
#intro .container > p {width: 100%; text-align: center; font-size: var(--font_large); color: var(--font_color_gray); padding-bottom: 50px;}
.intro_item {width: 31%; height: 425px; display: flex; flex-direction: column; justify-content: space-around; align-items: center; position: relative;}
.intro_item:first-of-type {background: url('../img/main/intro_1.jpg') center/cover;}
.intro_item:nth-of-type(2) {background: url('../img/main/intro_2.jpg') center/cover;}
.intro_item:last-of-type {background: url('../img/main/intro_3.jpg') center/cover;}
.intro_date {width: 60%; height: 30px; border-radius: 15px; background-color: var(--main_color_orange); text-align: center; line-height: 30px; font-size: var(--font_small); color: #fff; z-index: 5;}
.intro_text {z-index: 5;}
.intro_text h1 {font-size: 50px; color: #fff;}
.intro_text p {font-size: var(--font_small); color: #fff; text-align: center;}
.intro_star {z-index: 5; display: flex; justify-content: center; padding: 10px 0;}
.intro_star i {padding: 0 5px; color: #a5a5a5;}
.star .fa-star:nth-of-type(1) {color: #ffeb8d;}
.star .fa-star:nth-of-type(2) {color: #fed46b;}
.star .fa-star:nth-of-type(3) {color: #fbb53d;}
.star .fa-star:nth-of-type(4) {color: #fa9e1b;}



#package {width: 100%; height: 655px; background: url('../img/main/package.jpg') center/cover no-repeat; position:relative;}
#package::before {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to right, var(--main_color_orange), var(--gradient_color)); opacity: 0.7; z-index: 5;}
#package .container {display: flex; justify-content: center; align-items: center;}
.package_inner {width: 100%; height: 415px; position: relative; z-index: 6; display:flex; flex-direction: column; align-items: center; justify-content: space-evenly; padding: 75px 90px 61px; background-color: #fff;}
.package_star i {padding: 0 5px; color: #a5a5a5;}
.package_inner p {line-height: 2.3; font-weight: 600; color: #929191; text-align: center; font-size: var(--font_basic);}

#offer {width: 100%; height: 1045px; background-color: #f3f6f9;}

#testimonials {width: 100%; height: 820px;}

#tranding {width: 100%; height: 545px; background-color: #eee;}

#contact {width: 100%; height: 705px;}